trigger:
  - main

pr:
  - main

pool:
  name: Default   # your self-hosted agent

steps:
  - checkout: self

  # Install Node.js
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Setup Node.js'

  # Install React dependencies
  - script: npm ci
    displayName: 'Install npm packages'

  # Build React app
  - script: npm run build
    displayName: 'Build React app'

  # Deploy React build folder without Docker
  - task: AzureCLI@2
    inputs:
      azureSubscription: 'Azure-Service-Connection'
      scriptType: 'ps'
      scriptLocation: 'inlineScript'
      inlineScript: |
       $env:AZURE_CONFIG_DIR = "C:\Users\baina\.azure"
        az staticwebapp upload `
          --name localShopWebApp `
          --resource-group localShopRG `
          --source build
    displayName: 'Deploy to Azure Static Web Apps'
