trigger:
- main

pr:
- main

pool:
  name: Default

steps:
- checkout: self

# Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Setup Node.js'

# Install dependencies
- script: npm ci
  workingDirectory: '$(Build.SourcesDirectory)'
  displayName: 'Install npm packages'

# Build React
- script: npm run build
  workingDirectory: '$(Build.SourcesDirectory)'
  displayName: 'Build React app'

# Deploy to Static Web Apps
- task: AzureStaticWebApp@0
  inputs:
    azure_static_web_apps_api_token: $(deployment_token)
    app_location: '/'
    output_location: 'build'
